body {
  width: 1200px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.mostraDiv {
  border: 2px solid red;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.header-logo-container h1 {
  font-size: 1.2rem;
  font-weight: bold;
}
