body {
  max-width: 100%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

.mostraDiv {
  border: 2px solid red;
}

/* INÍCIO DO HEADER */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.header-logo-container h1 {
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
}

.header-menu-mobile {
  display: none;
}

.header-menu-container ul {
  display: flex;
  align-items: center;
}

.header-menu-container ul li {
  margin-left: 4rem;
}

.header-menu-container ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #40916c;
  font-weight: 600;
}

.header-menu-container ul li a:hover {
  opacity: 0.7;
  transition: 0.5s ease;
}

/* HEADER MOBILE */
@media screen and (max-width: 1023px) {
  .header-container {
    flex-direction: column;
    padding: 2rem 0;
    width: 100%;
    margin-top: 0;
  }

  .header-logo-container {
    margin-bottom: 2rem;
  }

  .header-menu-mobile {
    display: block;
  }
  .header-menu-mobile button {
    background-color: transparent;
    border: none;
  }

  .header-menu-container {
    display: none;
  }

  .show {
    display: block;
    transition: 0.5s all;
  }

  .header-menu-container ul {
    flex-direction: column;
    margin-left: -1rem;
  }

  .header-menu-container ul li {
    max-width: 100%;
    margin: 8px 0;
  }

  .header-menu-container ul li a {
    max-width: 100%;
    margin-left: 1rem;
    font-size: 0.8rem;
  }
}

/* FIM DO HEADER */

/* INICIO DO BANNER */

.banner-container {
  margin-bottom: 1rem;
}
.banner-container img {
  max-width: 100%;
  object-fit: cover;
}

/*FIM DO BANNER*/

/* INICIO PRODUTOS */

.produtos-container {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.produtos-container h2 {
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}

.lista-produtos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.item-produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  padding: 3rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.item-produto img {
  width: 100%;
}

.item-produto h4 {
  margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}

.item-produto span {
  font-size: 1rem;
  line-height: 1.4rem;
}

.item-produto a {
  width: 100%;
  padding: 1rem;
  cursor: pointer;

  margin: 1rem 0;
  border-radius: 0.45rem;

  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #40916c;
  color: #fff;
}

.item-produto a:hover {
  opacity: 0.9;
  transition: 0.5s ease;
}

/* MOBILE PRODUTOS */

@media screen and (max-width: 1023px) {
  .produtos-container {
    margin: 0 1rem;
  }
  .produtos-container h2 {
    font-size: 1.3rem;
  }

  .lista-produtos {
    grid-template-columns: 1fr;
  }
}

/* FIM DOS PRODUTOS */
